.dropdown:hover > .dropdown-content {
    position: absolute;
    display: block;
    top: 35px;
    opacity: 1;
    transition: all ease-in .8s;
    animation-delay: 1ms;
}
/* .dropdown-content{
    position: absolute;
    display: block;
    top: 35px;
    opacity: 1;
    transition: all ease-in-out .5s;
} */

.link-background {
    position: absolute;
    background: #5e4ecb;
    border-radius: 18px;
    width: 153px;
    height: 70px;
    z-index: 0;
    transition: 0.4s cubic-bezier(0.7, 0, 0.38, 0.86) all;
    top: 0;
}